.Toppage {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    
  }
  
  .Toppage img {
    width: 5%; /* Make images take up 100% of the container width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add some spacing between images */
    max-width: calc(33.33% - 10px); 
   margin: 40px;
  }
  
  @media (max-width: 768px) {
    .Toppage img {
      max-width: calc(10% - 10px); 
      margin: 10px;
    }
  }